body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.full{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.highlight {
  width: 230px;
  height: 170px;
  color: rgb(34, 53, 116);
  background-color: rgba(255,255,255,0.1);
  transition-duration: 1000ms;
  border-radius: 20px;
}

.highlight:hover {
  background-color: rgba(255,255,255,0.7);
  transition-duration: 1000ms;
}
.searchForm{
  margin: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.searchForm .formItem{
  margin-right:20px;
}
.cityItem{
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content:center;
}
.cityItem .delete{
  padding:5px;
  cursor: pointer;
  border-radius: 5px;
}
.cityItem .delete:hover{
  background-color: rgba(218, 216, 216, 0.438);
}